html, body {
	background-image: url("http://i.imgur.com/dKeFKHK.jpg");
	height: 100%;
}

.container {
	color: #fff;
}

.theform {
	padding-bottom: 30px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

ul, li {
    list-style-type: none;
}

.errors {
	padding-top: 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.messages p {
    width: 90%;
    word-wrap: break-word;

}

.alert {
	padding: 7px 12px;
}